.d001 {
  background-color: #FFF8DC;
  background-repeat: repeat;
  height: 780px;
  padding: 3rem;
  background-image: url('../assets/patterns/d001.png');
  h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 80px;
    line-height: 1.2em;
  }
}

.d002 {
  background-color: #fabadb;
  background-repeat: repeat;
  height: 780px;
  padding: 3rem;
  background-image: url('../assets/patterns/d002.png');
}

.d003 {
  background-color: #38a489;
  background-repeat: repeat;
  height: 780px;
  padding: 3rem;
  background-image: url('../assets/patterns/d003.png');
}

.d004 {
  background-color: white;
  background-repeat: repeat;
  height: 780px;
  padding: 3rem;
  background-image: url('../assets/patterns/d004.png');
}
