.day {
  background-repeat: repeat;
  height: 100vh;
  padding: 3rem;
}

.d001 {
  @extend .day;
  background-color: #FFF8DC;
  background-image: url('../assets/patterns/d001.png');
  h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 80px;
    line-height: 1.2em;
  }
}

.d002 {
  @extend .day;
  background-color: #fabadb;
  background-image: url('../assets/patterns/d002.png');
}

.d003 {
  @extend .day;
  background-color: #38a489;
  background-image: url('../assets/patterns/d003.png');
}

.d004 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d004.png');
}

.d005 {
  @extend .day;
  background-color: #191919;
  background-image: url('../assets/patterns/d005.png');
}

.d006 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d006.png');
}

.d007 {
  @extend .day;
  background-color: #a8efd6;
  background-image: url('../assets/patterns/d007.png');
}

.d008 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d008.png');
}

.d009 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d009.png');
}

.d010 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d010.png');
}
