.day {
  background-repeat: repeat;
  height: 100vh;
  padding: 3rem;
}

.d063 {
  @extend .day;
  background-color: #FFED97;
  background-image: url('../assets/patterns/d063.png');
}

.d062 {
  @extend .day;
  background-image: url('../assets/patterns/d062.png');
}

.d061 {
  @extend .day;
  background-image: url('../assets/patterns/d061.png');
}

.d060 {
  @extend .day;
  background-image: url('../assets/patterns/d060.png');
}

.d059 {
  @extend .day;
  background-image: url('../assets/patterns/d059.png');
}

.d058 {
  @extend .day;
  background-image: url('../assets/patterns/d058.png');
}

.d057 {
  @extend .day;
  background-image: url('../assets/patterns/d057.png');
}

.d056 {
  @extend .day;
  background-image: url('../assets/patterns/d056.png');
}

.d055 {
  @extend .day;
  background-color: #FCAEC1;
  background-image: url('../assets/patterns/d055.png');
}

.d054 {
  @extend .day;
  background-image: url('../assets/patterns/d054.png');
}

.d053 {
  @extend .day;
  background-color: #38C2F9;
  background-image: url('../assets/patterns/d053.png');
}

.d052 {
  @extend .day;
  background-color: #FCD6D6;
  background-image: url('../assets/patterns/d052.png');
}

.d051 {
  @extend .day;
  background-image: url('../assets/patterns/d051.png');
}

.d050 {
  @extend .day;
  background-image: url('../assets/patterns/d050.png');
}

.d049 {
  @extend .day;
  background-image: url('../assets/patterns/d049.png');
}

.d048 {
  @extend .day;
  background-image: url('../assets/patterns/d048.png');
}

.d047 {
  @extend .day;
  background-image: url('../assets/patterns/d047.png');
}

.d046 {
  @extend .day;
  background-image: url('../assets/patterns/d046.png');
}

.d045 {
  @extend .day;
  background-image: url('../assets/patterns/d045.png');
}

.d044 {
  @extend .day;
  background-image: url('../assets/patterns/d044.png');
}

.d043 {
  @extend .day;
  background-color: #9CCDE8;
  background-image: url('../assets/patterns/d043.png');
}

.d042 {
  @extend .day;
  background-image: url('../assets/patterns/d042.png');
}

.d041 {
  @extend .day;
  background-color: #74B3E2;
  background-image: url('../assets/patterns/d041.png');
}

.d040 {
  @extend .day;
  background-image: url('../assets/patterns/d040.png');
}

.d039 {
  @extend .day;
  background-color: #C1F4F3;
  background-image: url('../assets/patterns/d039.png');
}

.d038 {
  @extend .day;
  background-image: url('../assets/patterns/d038.png');
}

.d037 {
  @extend .day;
  background-color: #009688;
  background-image: url('../assets/patterns/d037.png');
}

.d036 {
  @extend .day;
  background-color: #E3F2FD;
  background-image: url('../assets/patterns/d036.png');
}

.d035 {
  @extend .day;
  background-image: url('../assets/patterns/d035.png');
}

.d034 {
  @extend .day;
  background-image: url('../assets/patterns/d034.png');
}

.d033 {
  @extend .day;
  background-image: url('../assets/patterns/d033.png');
}

.d032 {
  @extend .day;
  background-image: url('../assets/patterns/d032.png');
}

.d031 {
  @extend .day;
  background-color: #D88282;
  background-image: url('../assets/patterns/d031.png');
}

.d030 {
  @extend .day;
  background-color: #C5CAE9;
  background-image: url('../assets/patterns/d030.png');
}

.d029 {
  @extend .day;
  background-color: #FFCDD2;
  background-image: url('../assets/patterns/d029.png');
}

.d028 {
  @extend .day;
  background-color: #3F51B5;
  background-image: url('../assets/patterns/d028.png');
}

.d027 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d027.png');
}

.d026 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d026.png');
}

.d025 {
  @extend .day;
  background-color: #26A69A;
  background-image: url('../assets/patterns/d025.png');
}

.d024 {
  @extend .day;
  background-color: #ffe3dc;
  background-image: url('../assets/patterns/d024.png');
}

.d023 {
  @extend .day;
  background-image: url('../assets/patterns/d023.png');
}

.d022 {
  @extend .day;
  background-image: url('../assets/patterns/d022.png');
}

.d021 {
  @extend .day;
  background-image: url('../assets/patterns/d021.png');
}

.d020 {
  @extend .day;
  background-image: url('../assets/patterns/d020.png');
}

.d019 {
  @extend .day;
  background-color: #fff7d7;
  background-image: url('../assets/patterns/d019.png');
}

.d018 {
  @extend .day;
  background-color: #79e8c5;
  background-image: url('../assets/patterns/d018.png');
}

.d017 {
  @extend .day;
  background-image: url('../assets/patterns/d017.png');
}

.d016 {
  @extend .day;
  background-color: #4DB6AC;
  background-image: url('../assets/patterns/d016.png');
}

.d015 {
  @extend .day;
  background-image: url('../assets/patterns/d015.png');
}

.d014 {
  @extend .day;
  background-image: url('../assets/patterns/d014.png');
}

.d013 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d013.png');
}

.d012 {
  @extend .day;
  background-color: #fabadb;
  background-image: url('../assets/patterns/d012.png');
}

.d011 {
  @extend .day;
  background-color: #94d9f2;
  background-image: url('../assets/patterns/d011.png');
}

.d001 {
  @extend .day;
  background-color: #FFF8DC;
  background-image: url('../assets/patterns/d001.png');
  h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 80px;
    line-height: 1.2em;
  }
}

.d002 {
  @extend .day;
  background-color: #fabadb;
  background-image: url('../assets/patterns/d002.png');
}

.d003 {
  @extend .day;
  background-color: #38a489;
  background-image: url('../assets/patterns/d003.png');
}

.d004 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d004.png');
}

.d005 {
  @extend .day;
  background-color: #191919;
  background-image: url('../assets/patterns/d005.png');
}

.d006 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d006.png');
}

.d007 {
  @extend .day;
  background-color: #a8efd6;
  background-image: url('../assets/patterns/d007.png');
}

.d008 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d008.png');
}

.d009 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d009.png');
}

.d010 {
  @extend .day;
  background-color: white;
  background-image: url('../assets/patterns/d010.png');
}
