.nav-main {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(black, .1);
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
  h1 {
    @extend .flex-auto;
  }
}
