.number {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border-top: 4px solid #757575;
  border-bottom: 4px solid #757575;
  padding: 5px;
  min-width: 35px;
  font-size: 21px;
}

.pink {
  color: #F48FB1;
  border-color: #F48FB1;
}
.white {
  color: white;
  border-color: white;
}
.blue {
  color: #5695db;
  border-color: #5695db;
}
.indigo {
  color: #3F51B5;
  border-color: #3F51B5;
}
