.number {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border-top: 4px solid #757575;
  border-bottom: 4px solid #757575;
  padding: 5px;
  min-width: 35px;
}

.white {
  color: white;
  border: white;
}
